<div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-menu icon-gradient bg-ripe-malin">
                                        </i>
                                    </div>
                                    <div><span th:text="${title}"></span>
                                        <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                                        </div>
                                    </div>
                                </div>
                                <div class="page-title-actions">
<!--                                     <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark"> -->
<!--                                         <i class="fa fa-star"></i> -->
<!--                                     </button> -->
                                    <div class="d-inline-block dropdown">
                                        <button id="btnFunctionTitle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                            Function +
                                        </button>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <ul class="nav flex-column" id="titleFuntionc">
												<!--Function Title -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
<script type="text/javascript" th:inline="javascript">
	var functionTitle = [[${btnFunction ==null ?"": btnFunction}]];
	
	if(functionTitle!=null){
		for (var func in functionTitle) {
			  console.log(`${func}: ${functionTitle[func]}`);
			  $("#titleFuntionc").append('<li class="nav-item"><a href="/'+`${functionTitle[func]}`+'" class="nav-link"><i class="nav-link-icon lnr-new"></i><span>'+`${func}`+'</span></a></li>');
			}
	}
	if(functionTitle==null ||Object.keys(functionTitle).length==0){
		$("#btnFunctionTitle").hide();
	}
	
</script>