<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>E hotel</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
	content="This is an example dashboard created using build-in elements and components.">
<meta name="msapplication-tap-highlight" content="no">
<link rel="icon" type="image/png"
	th:href="@{/resources/img/login/icons/favicon.ico}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
</head>
</head>
<body>
	<div
		class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
		<!--    	header-menu -->
		<th:block th:include="/_menu"></th:block>
		<div class="app-main">
			<!-- 	right-menu -->
			<th:block th:include="/_menu_right"></th:block>
			<!-- 	main -->
			<div class="app-main__outer">
				<div class="app-main__inner">
					<th:block th:include="/_title"></th:block>
					<div class="tab-content">
						<div class="tab-pane tabs-animation fade show active"
							id="tab-content-1" role="tabpanel">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<h5 class="card-title">Thông Tin</h5>
									<form class="" id="main" th:action="@{/saveNhanVien}" th:object="${UserDisplay}" method="POST">
										<div class="row">
											<div class="col-md-6">
												<img alt="jpg" th:src="@{/resources/img/avatars/anhthe.jpg}" style="min-width: 75px;min-height: 100px;max-width: 80%;max-height: 80%;margin-left: 10%;border-radius: 30px;">
												<div class="position-relative form-group" style="margin-left: 10%;">
													<label for="exampleFile" class="">Ảnh</label><input
														name="file" id="exampleFile" type="file"
														class="form-control-file"> <small
														class="form-text text-muted">Tải Ảnh Đại Diện</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="hidden" th:field="*{code}">
													<label class="form-label" for="name">Họ và tên</label> 
													<input th:field="*{name}" type="text" class="form-control" placeholder="Nhập họ và tên..." />
													<label class="form-label" for="password">Mật Khẩu</label> 
													<input th:field="*{password}" type="password" class="form-control" value="123" />
													<label class="form-label" for="birthday">Ngày Sinh</label> 
													<input th:field="*{birthday}" type="date" class="form-control"/>
													<label class="form-label">Giới Tính</label> 
													<select class="mb-2 form-control" th:field="*{sex}">
                                                        <option th:value="nam" th:text="Nam" th:selected="*{sex=='nam'}">Nam</option>
                                                        <option th:value="nữ" th:text="Nữ" th:selected="*{sex=='nữ'}">Nữ</option>
                                                    </select>
													<label class="form-label" for="address">Địa Chỉ</label> 
													<input th:field="*{address}" type="text" class="form-control" placeholder="Nhập địa chỉ ..." />
													<label class="form-label" for="email">Email</label> 
													<input th:field="*{email}" type="text" class="form-control" placeholder="Nhập email ..." />
													<label class="form-label" for="phone_number">Số Điện Thoại</label> 
													<input th:field="*{phone_number}" type="text" class="form-control" placeholder="Nhập số điện thoại ..." />
													<label class="form-label" for="start_date">Ngày Sinh</label> 
													<input th:field="*{start_date}" type="date" class="form-control"/>
													<label class="form-label" for="role">Quyền</label> 
													<select class="mb-2 form-control" th:field="*{role}">
														<option th:value="none" th:text="none"></option>
                                                        <option th:value="ADMIN" th:text="admin" th:selected="${role=='ADMIN'}"></option>
                                                        <option th:value="USER" th:text="user" th:selected="${role=='USER'}">user</option>
                                                    </select>
                                                    <label class="form-label" for="status">Trạng Thái</label> 
													<select class="mb-2 form-control" th:field="*{status}">
                                                        <option th:value="0" th:text="Enable" th:selected="${status==0}"></option>
                                                        <option th:value="1" th:text="Block" th:selected="${status==1}"></option>
                                                    </select>
												</div>
											</div>

										</div>
										<button class="mt-2 btn btn-primary" id="btnSubmit">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript" th:inline="javascript">
$( document ).ready(function() {
	if([[${readonly}]]){
		$("#main :input").prop('disabled', true);
		$("#btnSubmit").prop('disabled', true);
	}
	
});

</script>
</html>